__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

.venv
models/bird_classification/best.pth
models/bird_classification/last.pth
models/bird_classification/model-store/
.env
.streamlit_cache/
.pytest_cache/
.coverage
data/
secret/
test.py
spam_requests.py
test.jpg