__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

.venv
models/bird_classification/best.pth
models/bird_classification/last.pth
models/bird_classification/model-store/
.env
k8s/manifests/
mlflow-gcs-sql.json
.streamlit/
.streamlit_cache/
.pytest_cache/
.coverage