__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

.venv
models/bird_classification/best.pth
models/bird_classification/last.pth
models/bird_classification/model-store/
.env
api-secret.yaml
grafana-secret.yaml
mlflow-sa-key.json
.streamlit_cache/
.pytest_cache/
.coverage
data/